:root {
  --secondary-color: rgba(9, 61, 45, 0.8);
}

.Weather .card {
  background: rgba(24, 158, 115, 0.1);
}

.Weather .location-btn {
  background-color: var(--secondary-color);
  color: white;
}

.Weather .secondary-color {
  color: var(--secondary-color);
}
